<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/2729/2729996.png">
        <link rel="stylesheet" href="/css/styles.css">

        <title>ATN Toy Store</title>
        <style>
            html,body{
                height:100%;
            }
        </style>
    </head>
    <body>
        <div class="navbar-brand">
            <a class="navbar-brand font-weight-bold" aria-current="page" href="/toy/list">
                <i class="fa fa-home" aria-hidden="true"></i>
                ATN
            </a>
            <a class="navbar-brand" href="/toy/list">Products</a>
            <a class="navbar-brand" href="/supplier/list">Supplier</a>

		</div>
        <div class="row h-100 align-items-center">
            <div class="col-md-6 offset-md-3 toy-table">
                {{{body}}}
            </div>
        </div>
        <div class="footer text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
             © 2022 Copyright: Nguyen Dang Truong Phuc
        </div>
    </body>
</html>